*{
    font-family: "Arima", serif;
    /* background-color: rgb(27, 27, 27);
    color: white; */
    /* background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR0AhHrpMNBK-bh_FK1T-XfxQxhoU2O7goZ-k6se5_599uqFCaaPm4SYDC0Ps1KD_fqgAs&usqp=CAU');
    background-size: cover; */
}